node_modules/
.env
.env.local
.env.*.local
dist/
dist-ssr/
*.local
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history
.history/*
coverage/
